.idea/
.vs/
Binaries/
Config/
Intermediate/
Intermediate_bkp/
Saved/
Standard_trees/
Source/tycoon/TP_ThirdPerson/
Content/Stylized_PBR_Nature/
Content/StarterContent/
Content/Mannequin/
Content/Geometry/
Content/ThirdPersonCPP/
Content/ThirdPerson/
Content/level/TestLevel_BuiltData.uasset
Content/level/MainLevel_BuiltData.uasset
tycoon.sln
tycoon.sln.DotSettings.user
build/
tycoon.rar
